body {
    margin: 0;
    background: pink;
    text-align: center;
}
*{
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.sidebar{
    position: fixed;
    left: 0;
    width: 200px;
    height: 100%;
    background: lightblue;
}
.sidebar header {
    font-size: 22px;
    color: black;
    text-align: center;
    line-height: 70px;
    background: white;
    user-select: none;
}
.sidebar ul a{
    display: block;
    width: 100%;
    line-height: 45px;
    font-size: 20px;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    text-align: left;
    transition: .4s;
}
ul li:hover a{
    padding-left: 50px;
}