body {
    margin: 0;
    background: pink;
    text-align: center;
}
*{
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.navbar {
    width: 100%;
    background-color: lightblue;
    overflow: auto;
    position: fixed;
    padding-left: 475px;
}
/* Nav Bar Links */
.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: black;
    text-decoration: none;
    font-size: 17px;
  }
  /* Navbar links on mouse-over */
.navbar a:hover {
    background-color: white;
    padding-top: 10px;
    transition: .5s;
  }
  